<div>
    <h1 style="text-align: center;">Home View</h1>

    <h2> <a href="http://localhost:8080/productsview">Ir a Products View</a> </h2>

    <h2> <a href="http://localhost:8080/cartsview">Ir a Carrito</a></h2>      

</div>
