<div>
    <h1 style="text-align: center;">Real Time Products View</h1>

    <h2> Agregar producto </h2>

    <iframe id="invisible" name="invisible" style="display:none;"></iframe>
    <form action="/products" method="post" target="invisible" style="display: flex; flex-direction: column; align-items: center;">

        <label for="tituloProducto">Titulo</label>
        <input type="text" id="tituloProducto" name="title" required="true">

        <label for="descripcionProducto">Descripcion</label>
        <input type="text" id="descripcionProducto" name="description" required="true">

        <label for="codigoProducto">Codigo</label>
        <input type="text" id="codigoProducto" name="code" required="true">

        <label for="precioProducto">Precio</label>
        <input type="text" id="precioProducto" name="price" required="true">

        <label for="statusProducto">Status</label>
        <input type="text" id="statusProducto" name="status" required="true">

        <label for="stockProducto">Stock</label>
        <input type="text" id="stockProducto" name="stock" required="true">

        <label for="categoriaProducto">Categoria</label>
        <input type="text" id="categoriaProducto" name="category" required="true">

        <button type="submit" onClick="window.location.reload();">Crear Producto</button>
    </form>

    <h2> Eliminar producto </h2>

    <form>
        <label for="idDelete">Id</label>
        <input type="number" id="idDelete">

        <button type="submit" id="botonDelete">Eliminar Producto</button>
    </form>

    <h2> Products View: </h2>

    <div id="productsView">
        
    </div>


</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
